.search-bar{
    width:100%;

    display:flex;
    align-items:end;
    gap:16px;

    flex-wrap:wrap;
}

.search-item{
    display:flex;
    flex-direction:column;

    flex:1;
}

.search-item.pequeno{
    max-width:110px;
}

.search-item.cidade{
    flex:2;
}

.search-item label{

    margin-bottom:8px;

    font-size:13px;
    font-weight:600;

    color:#3d4a63;
}

.search-item input{

    height:54px;

    padding:0 16px;

    border:1px solid #d8dce7;

    border-radius:14px;

    font-size:15px;

    transition:.25s;
}

.search-item input:focus{

    outline:none;

    border-color:#2563eb;

    box-shadow:0 0 0 4px rgba(37,99,235,.15);

}

.search-bar button{

    height:54px;

    padding:0 34px;

    border:none;

    border-radius:14px;

    background:#2563eb;

    color:#fff;

    font-weight:600;

    font-size:16px;

    cursor:pointer;

    transition:.25s;
}

.search-bar button:hover{

    transform:translateY(-2px);

    background:#1d4ed8;

}

@media(max-width:950px){

.search-item{
    min-width:220px;
}

.search-item.pequeno{
    max-width:none;
}

.search-bar button{

    width:100%;
}

}